<div class="title-page">
  <span>
    <i class="fa-solid fa-pencil-alt icon-title"></i>
  </span>
  <span class="header-page_title">
    Επεξεργασία Κατηγορίας
  </span>
</div>
<div class="container mt-3">
  <%= form_with(model: @category, local: true, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
    <% if @category.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being updated:</h2>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, id: :category_name, class: 'form-control', required: true %>
      <div class="invalid-feedback">
        Please provide a valid category name.
      </div>
    </div>
    <div class="actions">
      <%= form.submit 'Update Category', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
