<div class="title-page">
  <span>
    <i class="fa-solid fa-list icon-title"></i>
  </span>
  <span class="header-page_title">
    Λίστα Κατηγοριών
  </span>
</div>
<div class="container mt-3">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td>
            <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-primary' %>
            <%# link_to 'Delete', category_path(category),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
