<%
=begin%>
<div class="sidebar">
  <ul>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>
<%
=end%>
<div id="custombody" class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <%
=begin%>
    <img class=" navbar-brand ps-3 logo_skroutzaa" src="https://c.scdn.gr/assets/schwartz/logo-4636919242747e42156835b0b8673b0c.svg" alt="Skroutz Logo" />
    <%
=end%>
    <a class="navbar-brand ps-3" routerLink="/homepage">
      <img class="logo_skroutz" src="https://c.scdn.gr/assets/schwartz/logo-4636919242747e42156835b0b8673b0c.svg" alt="Skroutz Logo" />
    </a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
      </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%
=begin%>
          <li><a class="dropdown-item" style="cursor:pointer" id="logout-btn">Logout</a></li>
          <%
=end%>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <!-- categories start -->
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="side-icon  fa-solid fa-box" style="color: #1465f0;"></i></div>
              Κατηγορίες
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="<%= new_category_path %>">Δημιουργία</a>
                <a class="nav-link" href="<%= categories_path %>">Λίστα</a>
              </nav>
            </div>
            <!-- categories end -->
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small">Logged in as: <%= current_user.email %></div>
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <!-- main start -->
      <div class="main">
        <%= yield %>
      </div>
      <!-- main end -->
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Skroutz</div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
