<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <script type="module">
      import "sidebar"
    </script>
    <% if devise_controller? %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    <% else %>
      <!-- Render the sidebar for non-Devise controllers -->
      <%= render 'layouts/sidebar' %>
    <% end %>
  </body>
</html>
